<html lang="ja">
  <head>
     <meta charset="utf-8">
     <title><%= @title %></title>
  </head>
  <body>
     <h1> ログインページ </h1>
     <h2><%= @world %></h2>
     <table>
       <tr>
         <td>ID</td>
         <td>パスワード</td>
       </tr>

       <form method="post" action="judge">
         <tr>
           <td><input type="text" name="name"></td>
           <td><input type="text" name="password"></td>
           <td><input type="submit" value="ログイン"></td>
         </tr>
       </form>
     </table>
  </body>
</html>