<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>検索</title>
  </head>
  <body>
    <h1>蔵書検索</h1>
    <form method='post' action='result'>
      <input type="text" name="str" value="">
      <button type='submit' class='btn btn-primary'>検索</button>
    </form>
  </body>
</html>
