<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>検索</title>
  </head>
  <body>
    <form action='search' method='get'>
      <b>名前: </b> <input type="text" name="name" value="">
      <b>住所: </b>  <input type="text" name="address" value="">
      <button type='submit' class='btn btn-primary'>検索</button>
    </form>
  </body>
</html>
