<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>図書・雑誌ID検索</title>
  </head>
  <body>
    <form action='result' method='get'>
      <b>図書・雑誌ID: </b> <input type="text" name="id" value="">
      <button type='submit' class='btn btn-primary'>検索</button>
    </form>
  </body>
</html>
